<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>

</head>
<body>

<div layout:fragment="content" class="starter-template">
  <h1>Couchbase Sync Gateway Admin Tool</h1>
  <h2 th:text="${'List of documents in ' + database}"></h2>
  <ul>
    <li th:each="doc : ${allDocs.rows}"><a th:href="@{{docId}/(docId=${doc.id})}"
                                           th:text="${doc.id}"></a></li>
  </ul>

</div>

</body>
</html>