<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>

</head>
<body>

<div id="wrapper">
  <div id="container" class="container">

    <div layout:fragment="content" class="starter-template">

      <h1>Couchbase Sync Gateway Admin Tool</h1>
      <h2 th:text="${'Documents properties'}"></h2>
      <h2 th:text="${'Attachments'}"></h2>

    </div>

  </div>
</div>
<!-- /.container -->

</body>
</html>